<fs-iframe offset="220"></fs-iframe>
<h1>IFrame Content <button mat-raised-button color="primary" (click)="add()">Add Content</button></h1>
<p *ngFor="let item of items">
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque imperdiet, metus nec vestibulum rutrum, ligula tortor convallis turpis, sit amet sodales lacus quam interdum ex. Phasellus pulvinar aliquam mauris, at luctus sapien rutrum semper. Integer pharetra nisi tortor, sit amet pharetra mi commodo ut. Duis mollis maximus risus, sed varius lectus sollicitudin a. Mauris ac libero massa. Vivamus vestibulum magna ac dui pharetra porta. Vestibulum volutpat elementum est sit amet imperdiet.

  <a href="javascript:;" fsIFrameScrollTo>Scroll Here</a>
</p>
